{
  "extends": ["@shinnn/node", "hubspot"],

  "ecmaFeatures": {
    "jsx": true
  },

  "plugins": [
    "react"
  ],

  "globals": {
    "document": true
  },

  "settings": {
    "pragma": "React"
  }
}
